header {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
    margin-bottom: 30px;
}

header h3 a {
    color: var(--color-primary);
    font-size: 1.6rem;
}

header div a {
    color: #000;
    text-decoration: none;
    background: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.1s ease-in;
}

header i {
    margin-left: 10px;
}

header a:hover {
    color: #fff;
    background: #000;
}

#search {
    padding: 0 15px;
}

#search h1 {
    margin-bottom: 15px;
}

#search input {
    direction: ltr;
    width: 300px;
    padding: 8px 10px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    color: var(--color-primary);
    font-size: 1rem;
}

#search input:focus {
    outline: none;
}

#search button i {
    margin-right: 5px;
}

#search button {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: var(--color-primary);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.1s ease-in;
}

#search button:hover {
    background: var(--color-secondary);
    color: var(--color-primary);
}

#container {
    flex-direction: column-reverse;
    display: flex;
    margin: 80px 0 40px;
}

#filter {
    margin: 15px;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    height: fit-content;
    border-radius: 10px;
}

#filter div {
    width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--color-primary);
}

#filter p {
    margin-left: 20px;
}

#filter ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#filter li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

#filter li:hover {
    color: var(--color-primary);
}

#filter .selected {
    background: var(--color-secondary);
    color: var(--color-primary);
    /* padding: 10px; */
    border-radius: 5px;
}

#products {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

#products>div {
    background: #fff;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

img {
    width: 220px;
    height: 220px;
    margin: 50px auto 40px;
}

h4 {
    color: var(--color-primary);
}

#price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 10px;
}

#price p {
    color: #808080;
    font-weight: 600;
}

#price button {
    color: var(--color-primary);
    background: var(--color-secondary);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in;
    text-align: center;
}

#price button:hover {
    color: #fff;
    background: var(--color-primary);
}

#rate {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--color-background);
    color: var(--color-warning);
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}

#rate i,
#count i {
    margin-left: 5px;
}

#count {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--color-background);
    color: var(--color-error);
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}

@media (width <=768px) {
    #filter ul {
        overflow-x: scroll;
    }
}


@media (width <=480px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 30px 15px;
        margin-bottom: 30px;
    }

    header h3 {
        color: var(--color-primary);
        font-size: 1.4rem;
    }

    header a {
        padding: 5px 10px;
    }

    #search h1 {
        font-size: 1.3rem;
    }

}

footer {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 15px;
    width: 100%;
    height: max-content;
    border-top: 2px solid #c9c9c9;
    padding: 25px 0;
}

footer a {
    font-family: 'Yekan';
    color: #1178f3;
}

footer a:hover {
    color: #6776ff;
}

.footer-about,
.footer-2 {
    width: 100%;
    margin: 20px 0;
    padding: 0 10px;
    color: #6b7280;
}

.footer-about h3,
.footer-2 h3 {
    color: #000;
    margin-bottom: 20px
}

.footer-about {
    margin-left: 15px;
}

.footer-about h3 a {
    color: #000;
}

.footer-about p {
    font-family: 'Yekan';
    text-align: justify;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
}

.footer-links ul li {
    margin: 15px 0;
}

.footer-links ul li a {
    color: #6b7280;
}

.footer-links ul li a:hover {
    color: #6776ff;
}


.footer-links ul li&::marker {
    content: '';
}

.social-media {
    text-align: left;
}

.social-media ul {
    display: flex;
    justify-content: space-between;
}

.social-media ul li a {
    /* font-size: 2rem; */
    color: #6b7280;
}

.social-media ul li a:hover {
    color: #6776ff;
}

@media (width <=800px) {
    footer {
        flex-direction: column;
    }
}

@media (width <=430px) {
    footer {
        padding: 5px 0;
    }

    .footer-about,
    .footer-2 {
        margin-bottom: 0;
    }

    .footer-2 {
        text-align: right;
        flex-direction: column;

        .social-media {
            margin-top: 15px;
            text-align: right;

            ul {
                flex-direction: column;
            }
        }
    }
}